
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Vira</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">An Angular2 example application</h1>
      <div class="row center">
        <h5 class="header col s12 light">This website represents an Angular2 example application.</h5>
      </div>
      <div class="row center">
        <a href="" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

  <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Why we need such cool inovations?</h5>
                        <p class="grey-text text-lighten-4">Because we can! Deal with it. <a class="orange-text text-lighten-3" href="http://textsmili.es/?cr=bW91dGh%2BMm5fZXllc342eGMuN2ZrLTdma19lYXJzfjE0LTE1">(⌐■_■)</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="orange-text text-lighten-3" href="https://github.com/TheRealVira">Vira (Rührig)</a>
                </div>
            </div>
  </footer>